{% extends "base.html" %}
{% block content %}

<h2> {{ page_title }} </h2>
<p>
    Thorin and Company were a group of thirteen Dwarves, the Wizard Gandalf, and the Hobbit Bilbo Baggins, led by Thorin
    II Oakenshield in TA 2941. Their purpose was to regain the lost Dwarven kingdom of the Lonely Mountain from the
    dragon Smaug.
</p>

{% for member in company%}

    <div class="featurette row">
        {% if loop.index % 2 != 0 %}
            <div class="col-md-7">
                <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                <p>{{ member.description }}</p>
            </div>
            <div class="col-md-5">
                <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
            </div>

        {% else %}
        <div class="col-md-5">
            <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
        </div>
        <div class="col-md-7">
            <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
            <p>{{ member.description }}</p>
        </div>

        {% endif %}

    </div>

    {% if loop.index != loop.length %}
    <hr class="featurette-divider">
    {% endif %}

{% endfor %}

{% endblock %}